@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Global Icons styles */
@layer components {
    .icon {
        @apply h-7 w-7 cursor-pointer;
    }
}
@layer components {
    .main-btn {
        @apply hover:scale-105 transition-all hover:shadow-md
    }
}